body{
    background-color: khaki;
}

#informacion{
    text-align: center;
    border-style: inset;
}

h1:hover{
    color: red;
}

.principal:first-line{
    background-color: lightgray;
}
a[href*=".edu"]{
    background-color: gold;
}

.principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}